:root {
  font-size: 15px;
  --app-font: "Open Sans", "Calibri", sans-serif;
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: var(--app-font);
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2.2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.8rem;
  font-weight: bold;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

h5 {
  font-size: 1.2rem;
  font-weight: bold;
}

h6 {
  font-size: 1rem;
  font-weight: bold;
}

p,
ul,
ol {
  line-height: 1.4rem;
}

div,
button,
img {
  transition: 0.2s;
}

li {
  margin: 4px 0;
}

.bold {
  font-weight: bold;
}

a,
a:visited {
  color: black;
  transition: 0.2s;
}

a:hover {
  color: #1383d9;
}

/* Layout styling */

body {
  display: flex;
  flex-direction: column;
  background-color: #e0e0ea;
  background-image: linear-gradient(90deg, rgb(194, 206, 224) 0%, rgb(228, 228, 228) 50%, rgb(194, 206, 224) 100%);
  align-items: center;
}

#bg-grid {
  display: grid;
  grid-template-areas: "al mg ar";
  grid-template-columns: 1fr 1000px 1fr;
  width: 100%;
}

aside {
  position: sticky;
  top:0;
  height:100vh;
  display: flex;
  align-items: center;
  color: white;
  font-size: 20rem;
  overflow-x: hidden;
  user-select: none;
}

aside#left {
  justify-content: flex-start;
  padding-left: 15%;
  grid-area: al;
}

aside#right {
  justify-content: flex-end;
  padding-right: 15%;
  grid-area: ar;
}

aside > img {
  height: 80%;
  transform: scale(0.8, 1);
  filter: invert(1);
  opacity: 0;
}

aside#right > img {
  transform: scale(-0.8, 1);
}

aside#left > img.open {
  translate: -40px 0;
  opacity: 0.5;
}

aside#right > img.open {
  translate: 40px;
  opacity: 0.5;
}

#main-grid {
  display: grid;
  grid-area: mg;
  grid-template-areas: "hd cc";
  grid-template-columns: 300px auto;
  max-width: 1000px;
  gap: 62px;
  align-items: start;
}

#page-heading {
  grid-area: hd;
}

#content-container {
  grid-area: cc;
}

nav,
main {
  padding-top: 36px;
}

/* Page Heading styling */

nav {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

nav > h1 {
  text-align: right;
}

#contact-container {
  display: flex;
  flex-direction: column;
  gap: 16x;
}

.contact-row {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  align-items: center;
}

.contact-row > img {
  width: 24px;
  height: 24px;
}

/* Content Styling */

main {
  display: flex;
  flex-direction: column;
  gap: 225px;
  position: relative;
  z-index: 2;
  padding-top: 172px;
}

.project-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-container:last-child {
  margin-bottom: 128px;
}

.big-number {
  position: absolute;
  font-size: 28rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  top: -150px;
  left: -70px;
  z-index: 5;
  opacity: 0.6;
  background: -webkit-linear-gradient(
    115deg,
    rgb(255, 255, 255) 10%,
    #0008a6 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  line-height: 80%;
}

.project-top {
  display: flex;
  gap: 16px;
  z-index: 10;
}
.project-top > img {
  width: 160px;
  height: 90px;
  border: 1px solid black;
  border-radius: 0 16px 16px 16px;
  box-shadow: 2px 2px 1px #000000;
  cursor: pointer;
}
.project-top > img:hover {
  box-shadow: 2px 2px 1px rgb(85, 85, 255);
  filter: brightness(105%) saturate(130%);
}

.project-top .info-box {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.project-top .info-box > p:first-child {
  font-weight: bold;
  font-size: 1.2rem;
}

.project-bottom {
  border: 1px solid black;
  z-index: 10;
  border-radius: 0 0 24px 24px;
  display: flex;
  flex-direction: column;
}

.project-bottom .features-header {
  padding: 3px 24px 4px 24px;
  background-color: #135fd9;
  color: white;
  text-align: center;
}

.project-bottom .types-header {
  padding: 3px 12px 4px;
  background-color: #d95c13;
  color: white;
  text-align: left;
  border-bottom:1px solid black;
}

.project-bottom .features {
  padding: 6px 24px 8px 24px;
  background-color: #ffffff99;
  border-radius: 0 0 23px 23px;
}

.project-bottom ul {
  margin-left: 16px;
  list-style-type: disc;
  list-style-position: outside;
}

/* Nav Content */

#nav-content {
  margin: 0 16px;
}

/* Preview backdrop */

.preview-backdrop {
  position: fixed;
  inset:0;
  background-color: #000000aa;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.preview-backdrop p {
  color: white;
  letter-spacing: 1px;
  font-weight: bold;
}

.preview-backdrop img {
  width: 60%;
  border-radius: 24px;
  border: 2px solid gray;
}

/* .preview-backdrop div {
  display: flex;
  justify-content: center;
  gap: 24px;
} */

.preview-backdrop button {
  padding: 6px 20px;
  border-radius: 16px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: rgb(228, 228, 228);
  border: 1px solid rgb(55, 55, 112);
  cursor: pointer;
}

.preview-backdrop button:hover {
  background-color: rgb(177, 177, 177);
}

.preview-backdrop button:active {
  background-color: rgb(154, 154, 154);
}

/* Media queries */

@media screen and (max-width: 1024px) {
  #main-grid {
    grid-template-areas:
      "hd"
      "cc";
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto;
  }

  body {
    padding-left: 16px;
    padding-right: 16px;
  }

  nav {
    position: static;
  }

  nav > h1 {
    text-align: center;
  }

  nav .contact-row {
    justify-content: center;
  }

  .big-number {
    top: -150px;
    left: -20px;
  }
}

@media screen and (max-width: 1300px) {
  #bg-grid {
    grid-template-areas: "mg";
    grid-template-columns: 100%;
    justify-items: center;
  }

  aside {
    display:none;
  }
}